<div class="create-content-card">

    <h3>Add a Content</h3>

    <div class="input">Id: <input [(ngModel)]="id"></div>
    <div class="input">Name: <input [(ngModel)]="title"></div>
    <div class="input">Description: <input [(ngModel)]="description"></div>
    <div class="input">Creator: <input [(ngModel)]="creator"></div>
    <button class="input" (click)="addContent()">Create Content</button>
    <p *ngIf="additionFailed" style="color: red; font-weight: bold;">Failed to add content.</p>
    <div *ngIf="error" style="color: red; font-weight: bold;">{{ error }}</div>
</div>
