<form [formGroup]="createNewContentForm" (ngSubmit)="onCreateNewContentSubmit()">
    <div class="form-group">
        <label for="content-id">Enter Id: </label>
        <input id="content-id" class="form-control" type="number" formControlName="id" placeholder="Content Id" (blur)="populateContent($event.target)">
    </div>
    <div class="form-group">
        <label for="content-title">Title: </label>
        <input id="content-title" class="form-control" formControlName="title" placeholder="Content Title" required>
    </div>
    <div class="form-group">
        <label for="content-description">Description: </label>
        <input id="content-description" class="form-control" formControlName="description" placeholder="Content Description" required>
    </div>
    <div class="form-group">
        <label for="content-creator">Creator: </label>
        <input id="content-creator" class="form-control" formControlName="creator" placeholder="Content Creator" required>
    </div>
    <div class="form-group">
        <label for="content-type">Type: </label>
        <input id="content-type" class="form-control" formControlName="type" placeholder="Content Type">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">{{exitingContent ? 'Update':'Add new Content'}}</button>
    <br/>
    <strong *ngIf="formSubmitted && !formSuccess" class="text-danger">
        Form failed to submit due to error
    </strong>
</form>